<table>
	<tr>
		<th>Datum</th>
		<th>Kurs / Veranstaltung</th>
		<th>Ort</th>
		<th>Details</th>
	</tr>
	<f:for each="{events}" as="event">
		
		<tr <f:if condition="{event.cancelled}||{event.full}">class="<f:if condition="{event.cancelled}">cancelled</f:if><f:if condition="{event.full}"><f:if condition="{event.cancelled}"> </f:if>full</f:if>"</f:if>>
			<td>{event.dateRange}</td>
			<td>{event.title}</td>
			<td>{event.location}</td>
			<td>
				<f:if condition="{target.pid}">
					<f:then>
						<f:link.action controller="Event" action="detail" pageUid="{target.pid}" arguments="{id: event.id, referrer: source.pid, currentPage: page.currentPage}" addQueryString="true">
							Details
						</f:link.action>
					</f:then>
					<f:else>
						<f:link.action controller="Event" action="detail" arguments="{id: event.id, referrer: source.pid, currentPage: page.currentPage}" addQueryString="true">
							Details
						</f:link.action>
					</f:else>
				</f:if>
			</td>
		</tr>
	</f:for>
</table>