<f:if condition="{settings.paginate.eventsPerPage} > 0">
	<f:then>
		<f:if condition="{settings.paginate.insertAbove}">
			<f:render partial="Div/Pagination" section="renderPagination" arguments="{action: settings.route, pagination: pagination}" />
		</f:if>
		<f:render partial="Event/ListDetailEvents" arguments="{events: pagination.paginatedItems, page: page, settings: settings}" />
		<f:if condition="{settings.paginate.insertBelow}">
			<f:render partial="Div/Pagination" section="renderPagination" arguments="{action: settings.route, pagination: pagination}" />
		</f:if>
	</f:then>
	<f:else>
		<f:render partial="Event/ListDetailEvents" arguments="{events: events, page: page, settings: settings}" />
	</f:else>
</f:if>