/* Event List */
.tx-maagitevent table {
	width: 100%;
}
.tx-maagitevent tr {
	vertical-align: top;
}
.tx-maagitevent tr:nth-child(even) {
	background-color: #fff;
}
.tx-maagitevent tr:nth-child(odd) {
	background-color: #e0e0e0;
}
.tx-maagitevent th {
	text-align: left;
	background-color: #aaaaaa;
}
.tx-maagitevent th, .tx-maagitevent td {
	padding: 4px;
}

.tx-maagitevent td:nth-child(1) {
	width: 20%;
}
.tx-maagitevent td:nth-child(2) {
	width: 50%;
}
.tx-maagitevent td:nth-child(3) {
	width: 20%;
}
.tx-maagitevent td:nth-child(4) {
	width: 10%;
}

/* Event Detail */
.tx-maagitevent table.contenttable {
	width: auto;
}
.tx-maagitevent .contenttable th p, 
.tx-maagitevent .contenttable td p {
	margin: 0;
	padding: 0;
}
.tx-maagitevent .contenttable tr, 
.tx-maagitevent .contenttable th, 
.tx-maagitevent .contenttable td {
	background-color: inherit;
	padding: 0;
}
.tx-maagitevent .contenttable td {
	background-color: #eaeaea;
	padding: 4px;
}
.tx-maagitevent .contenttable td:nth-child(2) {
	background-color: #eaeaea;
}

/* Pagination */
.tx-maagitevent .f3-widget-paginator {
	margin: 20px 0;
	padding: 0;
}
.tx-maagitevent .f3-widget-paginator li {
	margin: 0;
	padding: 0;
	display: inline;
}
.tx-maagitevent .f3-widget-paginator li a {
	padding: 2px 12px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	color: #303030;
	text-decoration: none;
}
.tx-maagitevent .f3-widget-paginator li.current {
	padding: 2px 12px;
	background-color: #f9d4d4;
	border: 1px solid #ccc;
	color: #303030;
	text-decoration: none;
	margin-right: 4px;
	padding-right: 8px;
}
.tx-maagitevent .f3-widget-paginator li a:hover, .tx-maagitevent .f3-widget-paginator li a:active {
	background-color: #ffffff;
	color: #303030;
}