<f:section name="renderCurrency"><f:format.currency decimalSeparator="." thousandsSeparator="'" decimals="2" currencySign="CHF" prependCurrency="true" separateCurrency="true" useDash="false">{amount}</f:format.currency></f:section>