<f:layout name="Event" />
<f:section name="main">
	<f:if condition="{referrer.pid}">
		<nav>
			<f:link.action controller="Event" action="list" pageUid="{referrer.pid}" arguments="{page}">
				<f:translate key="event.backToList" />
			</f:link.action>
		</nav>
	</f:if>
	<f:if condition="!{event}">
		<f:if condition="{settings.noresult}">
			<f:then>
				<f:format.html>{settings.noresult}</f:format.html>
			</f:then>
			<f:else>
				<f:translate key="event.noresult" />
			</f:else>
		</f:if>
	</f:if>
	<f:render partial="Event/Detail" arguments="{_all}" />
</f:section>