<f:layout name="Event" />
<f:section name="main">
	<f:if condition="<f:count>{events}</f:count> == 0">
		<f:if condition="{settings.noresult}">
			<f:then>
				<f:format.html>{settings.noresult}</f:format.html>
			</f:then>
			<f:else>
				<f:translate key="event.noresult" />
			</f:else>
		</f:if>
	</f:if>
	<f:render partial="Event/ListDetail" arguments="{_all}" />
</f:section>